.radius_div{
    border-radius: 5px;
}

.font_color_home{
    color: #ffffff;
}

/*修改输入的时候的效果*/
.layui-input_lxd:focus{
    border: 1px solid #009688;
}

.div_lxd{
    width:70vw;
    height: 100vh;
}