.radius_div{
    border-radius: 5px;
}

.font_color_home{
    color: rgba(255, 255, 255, 0);
}

/*修改输入的时候的效果*/
.layui-input_lxd:focus{
    border: 1px solid #009688;
}

/*写在这里的css样式好像没有效果,暂时不知道原因*/
/*突然发现html没有引入css.....*/
.div_lxd{
    width: 60vw;
    /*height: 27vh;*/
    margin: 0 auto;
    background-color: rgb(248,248,248,0.8);
    border-radius: 10px;
}

.div_carousel_lxd{
    background-color: rgb(255, 255, 255,0);
    /*width: 100%;*/
    height: 100%;
    color: rgba(133, 27, 27, 0.8);
}

.image-container {
    position: relative;
    display: inline-block; /* 使容器与其他元素在同一行显示 */
    width: 300px; /* 根据你的图片大小调整 */
    height: 200px; /* 根据你的图片大小调整 */
    overflow: hidden;
    margin: 10px; /* 为容器添加外边距，避免与其他组件重叠 */
}

<<<<<<< HEAD
.copyright{
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 15px;
    text-align: center;
}
=======
.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* 平滑过渡效果 */
    display: block; /* 移除图片底部的空隙 */
}

.image-container:hover img {
    transform: translateY(-20px); /* 鼠标悬停时图片上移的距离 */
}
>>>>>>> parent of 16bda8f (tab3)
